/*#########################
###     C O L O R S     ###
##########################*/
/* DECLARACIONES GENERALES*/
/**/
/*$main_col: map-get(map-get($nord, Aurora), purple);
$seco_col: map-get(map-get($catpuccin, macchiato), Pink);
$thir_col: map-get(map-get($mountainfuji, accents), sakura);
*/
/*$main_col: map-get(map-get($nord, Frost), sky);
$seco_col: map-get(map-get($mountainfuji, accents), kori);
$thir_col: map-get(map-get($catpuccin, macchiato), blue);
*/
/*#########################
###      DEFAULTS       ###
##########################*/
@keyframes slide-right {
  from {
    margin-left: 0px; }
  50% {
    margin-left: 110px;
    opacity: 1; }
  50% {
    opacity: 0.9; }
  to {
    margin-left: 200px; } }

label {
  font-weight: bold; }

button {
  background-color: transparent;
  box-shadow: none; }

.controlPanel {
  /*idk if those two thing do work*/
  animation-timing-function: ease-in;
  animation-name: slide-right;
  background-color: #1f1f1f;
  border-right: 1px solid #444444; }

/*#########################
###     APPLAUNCHER     ###
##########################*/
.appLauncher {
  padding: 10px;
  background-color: #262626;
  border-radius: 7px;
  /*border: 1px solid #444444;*/ }

.AppLauncherApptitle {
  font-size: 13px; }

.AppLauncherTypeInBox {
  border-radius: 5px;
  background-color: #262626;
  border: 1px solid #83A598; }

/*#########################
###       BUTTON        ###
##########################*/
.Dashboard_button {
  /*background-color: #262626;
    border-radius: 10px;*/
  margin: 0px 4px 0px 4px; }

.sessionButton {
  background-color: #c8ccd6;
  border-radius: 10px;
  padding: 5px;
  margin: 2px 0px 2px 0px; }

/*#########################
###      USER BAGDE     ###
##########################*/
.WHOAMI {
  background-color: #262626;
  padding: 5px;
  margin: 0px 0px 2px 0px;
  border-radius: 7px; }

.sessionBox {
  background-color: #262626;
  border-radius: 7px;
  /*border: 1px solid #444444;*/ }

/*#########################
###       CALENDAR      ###
##########################*/
.Calendar {
  background-color: #2a2a2a;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  font-size: 13px;
  font-style: normal;
  -gtk-secondary-caret-color: #A3BE8C; }

/*for some reason doesnt want to work*/
.Calendar :focus {
  -gtk-secondary-caret-color: #A3BE8C; }

/*#########################
###        SLIDER       ###
##########################*/
/*me voy a matar puto slider del orto*/
slider {
  background-color: #4a4a4a;
  border-color: transparent; }

scale highlight {
  -gtk-secondary-caret-color: #A3BE8C;
  background-color: #A3BE8C;
  border-color: #A3BE8C; }

.VolSliderBox {
  background-color: #262626;
  border-radius: 7px; }
