/*#########################
###     C O L O R S     ###
##########################*/

/*  Mocha */
@import "./variables.scss";
$rb: 10px;

/*#########################
###      DEFAULTS       ###
##########################*/

separator{background-color: transparent;}
levelbar block,
highlight {
    min-height: 10px;
}

window.bar {
    background-color: $bar_bg;
    color: #fffeee; 
    box-shadow: -2px -2px 2px #2a2a2a;
    border-right: 0px solid $bar_gg;
    //border-radius: 10px;
    font-size: 13px;
}

label {
    font-weight: bold;
}

button {
    background-color: transparent;
    box-shadow: none;
}

/*#########################
###     TAB WIDGETS     ###
##########################*/

.tabLabel{
    //background-color: $bar_fg;
    //padding: 2px 8px 2px 8px;
    margin: 5px 0px 5px 0px;
    //border-radius: 5px 0px 0px 5px ;

}

.tabIcon{
    //background-color: $thir_col;
    //padding: 2px 5px 2px 5px;
    margin: 5px 0px 5px 0px ;
    //border-radius: 0px 5px 5px 0px;
    box-shadow: inset 2px 2px 2px transparent;
}

/*#########################
###      WORKSPACES     ###
##########################*/

.workspaces{
    background-color: $bar_fg;
    padding: 0px 0px 0px 0px ;
    //margin: 7px;
    border-radius: $rb $rb $rb $rb;
}

.workspaces button.focused {
    padding: 0px;
    background-color: $thir_col;
    //border-radius: 10px;
    border-radius: $rb $rb $rb $rb;
    color: black;
    box-shadow: inset 2px 2px 2px transparent;
    /*border-left: 2px solid #555555;
    border-radius: 2px 0px 0px 2px;*/
    /*box-shadow: inset 10px 0 6px -10px #555555;*/
}

.workspaces .focused, .occupied, .static{
        border:0px solid transparent;
        background-color: transparent;
        /*box-shadow: inset 2px 4px 8px #121212;*/
}

.workspaceLB{
    //margin: 5px;/**/
    padding: 03px 10px 03px 10px;
    //background-color: $bar_fg;
    //border-radius: 010px 010px 010px 010px;
    
}

.workspacesInd button{
    padding: 0px;
    color: black;
    //border-radius: 10px;
}
    
.workspacesInd button.focused{
    background-color: $seco_col;
}
.workspacesInd button.static{
    background-color: #232323;
}

.workspacesInd button.occupied{
    background-color: #323232;
}


/*#########################
###      BATTERIES      ###
##########################*/

levelbar block{ 
    background-color: transparent;
    //border-radius: 10px;
    border-radius: $rb $rb $rb $rb;
}

levelbar trough{ 
    background-color: transparent; 
    border-color: transparent;
}

levelbar .empty{ 
    background-color: $bar_gg; 
    border: 1px solid $bar_gg;
}

levelbar .filled {
    background-color: $seco_col;
    border: 0px solid transparent;
    -gtk-secondary-caret-color: $main_col;
    //box-shadow: inset 2px 2px 2px 2px transparent;
    margin: 1px;

}

.BatteryBox{ 
    //margin: 10px; 
}

.BatteryBox .verticalBatteryIcon{ 
    margin-right: 7px; 
}

/*UNUSED*/
.circularBattery{
    min-width: 32px;
    min-height: 32px;
    font-size: 6px;
    margin: 0px;
    background-color: #131313;
    color: #f0ead6;
}


/*#########################
###        MEDIAP       ###
##########################*/

.Media{
    margin: 5px;
    padding: 3px 5px 3px 5px;
    background-color: $bar_fg;
    //border-radius: 10px;
    border-radius: $rb $rb $rb $rb;
    //cursor: pointer;
}

.MediaButton{
    padding: 0px 3px 0px 3px;
    //background-color: $bar_gg;
    //border-radius: 50px;
    border-radius: $rb $rb $rb $rb;
    box-shadow: inset 2px 2px 2px transparent;
    border: 0px solid transparent;
}

////////////////////////////////////////////



