/*#########################
###     C O L O R S     ###
##########################*/

/*  Mocha */
@import "./variables.scss";

/*#########################
###      DEFAULTS       ###
##########################*/

levelbar block,
highlight {
    min-height: 10px;
}

window.bar {
    background-color: $bar_bg;
    color: #fffeee; 
    box-shadow: -2px -2px 2px #2a2a2a;
    border-right: 0px solid $bar_gg;
}

label {
    font-weight: bold;
}

button {
    background-color: transparent;
    box-shadow: none;
}

/*#########################
###     TAB WIDGETS     ###
##########################*/

.tabLabel{
    background-color: $bar_fg;
    padding: 5px 0px 5px 0px ;
    margin: 0px 5px 0px 5px;
    border-radius: 5px 5px 0px 0px ;

}

.tabIcon{
    padding: 5px 0px 5px 0px ;
    margin: 0px 5px 0px 5px;
    border-radius: 0px 0px 5px 5px;
    background-color: $thir_col;
    box-shadow: inset 2px 2px 2px transparent;
}

/*#########################
###      WORKSPACES     ###
##########################*/

.workspaces{
    background-color: $bar_fg;
    padding: 0px 0px 0px 0px ;
    margin: 7px;
    border-radius: 5px;
}

.workspaces button.focused {
    padding: 0px;
    background-color: $main_col;
    border-radius: 5px;
    color: black;
    box-shadow: inset 2px 2px 2px transparent;
    /*border-left: 2px solid #555555;
    border-radius: 2px 0px 0px 2px;*/
    /*box-shadow: inset 10px 0 6px -10px #555555;*/
}

.workspaces .focused, .occupied, .static{
        border:0px solid transparent;
        background-color: transparent;
        /*box-shadow: inset 2px 4px 8px #121212;*/
}

.workspaceLB{
    margin-top: 10px;/**/
    padding: 05px 10px 05px 10px;
    background-color: $bar_fg;
    border-radius: 010px 010px 010px 010px;
    
}

/*#########################
###      BATTERIES      ###
##########################*/

levelbar block{ 
    background-color: transparent;
    border-radius: 5px;
}

levelbar trough{ 
    background-color: transparent; 
    border-color: transparent;
}

levelbar .empty{ 
    background-color: $bar_gg; 
    border: 0px solid transparent;
}

levelbar .filled {
    margin: 1px;
    border: 0px solid transparent;
    background-color: $seco_col;
    -gtk-secondary-caret-color: $main_col;
    box-shadow: inset 2px 2px 2px 2px transparent;

}

.BatteryBox{ 
    margin: 10px; 
}

.BatteryBox .verticalBatteryIcon{ 
    margin-bottom: 7px; 
}

/*UNUSED*/
.circularBattery{
    min-width: 32px;
    min-height: 32px;
    font-size: 6px;
    margin: 0px;
    background-color: #131313;
    color: #f0ead6;
}


/*#########################
###        MEDIAP       ###
##########################*/

.Media{
    margin: 5px;
    padding: 3px;
    background-color: $bar_fg;
    border-radius: 10px;
}

.MediaButton{
    padding: 1px 0px 1px 0px;
    background-color: $bar_gg;
    border-radius: 25px;
    box-shadow: inset 2px 2px 2px transparent;
    border: 0px solid transparent;
}
