/*#########################
###     C O L O R S     ###
##########################*/

/*  Mocha */
@import "./colorsheet.scss";

/*#########################
###      DEFAULTS       ###
##########################*/

levelbar block,
highlight {
    min-height: 10px;
}

window.bar {
    background-color: #191919;
    color: @blanco;
}

label {
    font-weight: bold;
}

button {
    background-color: transparent;
    box-shadow: none;
}

/*#########################
###     TAB WIDGETS     ###
##########################*/

.tabLabel{
    background-color: #262626;
    padding: 6px 5px 6px 5px ;
    margin: 0px 5px 0px 5px;
    border-radius: 0px 0px 5px 5px ;

}

.tabIcon{
    padding: 5px 5px 5px 5px ;
    margin: 0px 5px 0px 5px;
    border-radius: 5px 5px 0px 0px ;
    background-color: @accent;
}

/*#########################
###      WORKSPACES     ###
##########################*/

.workspaces{
    background-color: #262626;
    padding: 0px 0px 0px 0px ;
    margin: 7px;
    border-radius: 5px;
}

.workspaces button.focused {
    padding: 5px;
    background-color: @accent;
    border-radius: 5px;
    color: #121212;
    /*border-left: 2px solid @accent;
    border-radius: 2px 0px 0px 2px;*/
    /*box-shadow: inset 10px 0 6px -10px @accent;*/
}

.workspaces .focused, .occupied, .static{
        border:0px solid transparent;
        background-color: transparent;
        /*box-shadow: inset 2px 4px 8px #121212;*/
}

/*#########################
###     APPLAUNCHER     ###
##########################*/

@keyframes slide-right {
    from { margin-left: 0px; }
    50% { margin-left: 110px; opacity: 1; }
    50% { opacity: 0.9; }
    to { margin-left: 200px; }
}

.Dashboard_button{
    /*background-color: #262626;
    border-radius: 10px;*/
    margin: 5px 5px 0px 5px;
}

.controlPanel{
    /*idk if those two thing do work*/
    animation-timing-function: ease-in;
    animation-name: slide-right;
    background-color: #1f1f1f;
}

.session_button{
    background-color: #262626;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 5px 5px 5px;
}

.session_button :hover{
    background-color: @accent;
}

.WHOAMI{
    background-color: #262626;
    padding: 5px;
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
}

.AppLauncherApptitle{
    font-size: 13px;
}

.AppLauncherTypeInBox{
    border-radius: 5px;
    background-color: #222222;
    border: 1px solid @accent;
}

/*#########################
###      BATTERIES      ###
##########################*/

levelbar block{ 
    background-color: transparent;
    border-radius: 5px;
}

levelbar trough{ 
    background-color: transparent; 
    border-color: transparent;
}

levelbar .empty{ 
    background-color: #262626; 
    border: 0px solid transparent;
}

levelbar .filled {
    margin: 1px;
    background-color: @accent;
    -gtk-secondary-caret-color: @accent;
    border-color: @accent;
}

.BatteryBox{ 
    margin: 8px; 
}

.BatteryBox .verticalBatteryIcon{ 
    margin-top: 7px; 
}

/*UNUSED*/
.circularBattery{
    min-width: 32px;
    min-height: 32px;
    font-size: 6px;
    margin: 0px;
    background-color: #131313;
    color: #f0ead6;
}

/*#########################
###       CALENDAR      ###
##########################*/

.Calendar{
    background-color: #2a2a2a;
    border: none;
    box-shadow: none;
    border-radius: 10px;
    font-size: 13px;
    font-style: normal;
    -gtk-secondary-caret-color: @accent;
}

/*for some reason doesnt want to work*/
.Calendar :focus{
    -gtk-secondary-caret-color: @accent;
}

/*#########################
###        SLIDER       ###
##########################*/

/*me voy a matar puto slider del orto*/
slider{
    background-color: #4a4a4a;
    border-color: transparent;
}

/*this belongs the background color of slider
for some strange reason*/
scale .top{
    -gtk-secondary-caret-color: @accent;
    background-color: @accent;
    border-color: @accent;
}
